@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al C.A.B.J</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/CABJ70.png/1200px-CABJ70.png" width="500" height="500" " />
</div>
