@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="card mt-4">
        <img src="https://http2.mlstatic.com/D_NQ_NP_668951-MLU69124687759_042023-O.webp" width="200" height="200"></script>
        <div class="card-body">
            <h5 class="card-title">Historia de BOCA</h5>
            <p class="card-text">La historia del Club Atlético Boca Juniors transcurre desde 1905 hasta la actualidad siendo el fútbol desde los comienzos la esencia del club y, aunque posteriormente el crecimiento de la institución promovió el desarrollo de otras actividades como las bochas, básquet, entre otros, aquel permaneció como la disciplina deportiva sobre la cual se sustenta la entidad y la que le valió su reconocimiento a nivel nacional e internacional.</p>
            <a href="#" class="https://www.bocajuniors.com.ar/">Ir a algún lugar</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#">Inicio</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Acerca de</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contacto</a> </li>
            </ul>
        </div>
        </nav>
